.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #446382;
    font-family: Muli;
    background: #fbfbfb;
}
.inner-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}
.wave {
    margin: 0;
    width: 100%;
}
.sec {
    margin: 0;
    width: 8em;
    padding-bottom: 1em;
}
.agility-image {
    margin: 0;
    width: 18em;
    padding-bottom: 1em;
}
.heading {
    font-family: Muli;
    font-weight: bold;
    font-size: 34px;
    color: #4b6f90;
    padding: 2em;
}
.bg {
    position: absolute;
    top: 7px;
    left: 0px;
    transform: translateY(-100%);
    width: 100%;
}
.bar {
    border-bottom: 2px solid #4b6f90;
    width: 25%;
    height: 1em;
    margin: auto;
}
.agility {
    width: 33vw;
    align-items: center;
    text-align: center;
    padding: 1em;
    padding-left: 2.2em;
    transition: all 0.3s ease;
}
.opt {
    margin: 0;
    width: 18em;
    padding-bottom: 1em;
}
.value-head {
    font-weight: bold;
    font-size: 20px;
}
.value-desc {
    padding-top: 1em;
    font-size: 16px;
}
.optimization {
    align-items: center;
    text-align: center;
    width: 33vw;
    padding: 1em;
    transition: all 0.3s ease;
}
.security {
    align-items: center;
    width: 33vw;
    padding: 1em;
    padding-top: 12em;
    text-align: center;
    transition: all 0.3s ease;
}
.security:hover,
.agility:hover,
.optimization:hover {
    transform: scale(1.02);
}

@media only screen and (max-width: 600px) {
    .agility {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    .optimization {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em;
        text-align: center;
    }
    .value-desc {
        font-size: 20px;
        padding-bottom: 2em;
    }

    .security {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 1em;
    }
    .inner-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
    }
}
@media only screen and (max-width: 600px) {
    .bg {
        position: absolute;
        top: 6px;
        left: 0px;
        transform: translateY(-135%);
    }
    .wave {
        transform: scale(4);
    }
}

@media only screen and (min-width: 1300px) {
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-82%);
        width: 100%;
    }
}
