.container {
padding-top: 1em;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
padding-bottom: 2.6em;
position: relative;
background-color: #fbfbfb;

}
.block-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3em;

}
.bg {
    position: absolute;
    bottom:2px;
    width: 100%;
    transform: translateY(100%);
}
.bg-up {
    position: absolute;
    top: 30px;
    z-index: 2;
    transform: translateY(-100%);
    width: 100%;
}
.img {
width: 100%;
/* margin:0px; */
}

.img-rev {
    transform : rotate(180deg); 
    margin : 0; 
    width: 100%;
}
.each-block {
 padding: 0.1em;
}
.features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3.5em 3.5em 0 3.5em;
    box-sizing: border-box;
}
.blue-header{
    font-family: Muli;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    color: #4b6f90;
    padding-top: 2em;
}
@media only screen and (max-width: 600px) {
    .bg {
        position: absolute;
        bottom:0;
        transform: translateY(98%)
    }
    .blue-header{ 
        padding-bottom: 2em;
    }
    .img {
        transform: scale(4.5);
    }
    .img-rev {
        transform: rotate(360deg);
        transform: scale(-1.4);
    }
    .features {
     padding: 0;
    }
    .bg-up {
        position: absolute;
        top: 0;
        transform: translateY(-90%);
    }
    }

    @media only screen and (min-width: 1440px) {
        .bg {
            position: absolute;
            bottom: 5px ;
            transform: translateY(100%);
        }
        .bg-up {
            position: absolute;
            top: 0px;
            transform: translateY(-72%);
        }
    }