.container {
    display: flex;
    justify-content: center;
    color: #446382;
    font-family: Muli;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    flex-direction: column;
    text-align: center;
}
.Team {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.team-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    font-family: Muli;
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    padding: 2em;
    user-select: none;
}
.Team > img {
    width: 100%;
    margin: 0;
    display: block;
}
.mobile-map {
    display: none;
}

.location {
    /* background-image: url('../../../images/location-map.png'); */
    min-height: 27rem;
    width: 100%;
    position: relative;
}
.location > img {
    width: 100%;
    margin: 0;
}

.location-title {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 34px;
    font-family: Muli;
    font-weight: bold;
}

.adults {
    display: block !important;
}

@media only screen and (max-width: 900px) {
    .Team {
        background-image: url("../../../images/adults.png");
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 8em;
        width: 100%;
    }
    .team-heading {
        padding: 0;
        padding-bottom: 1em;
        user-select: none;
        z-index: 1;
        color: #fff;
        transform: translate(-50%, -56%);
    }
    .adults {
        transform: scale(1.2);
    }

    .location {
        display: none;
    }
    .mobile-map {
        display: block;
    }
    .location {
        background-image: url("../../../images/location-map.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 9em;
        width: 100%;
        position: absolute;
        top: 11.5em;
    }
}
