.container {
    width: 100%;
    padding-top: 7em;
    padding-bottom: 5em;
    background-image: url("../../../images/services-bg.svg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 25%;
    font-family: Muli;
}
.heading {
    text-align: center;
    color: #fff;
    font-size: 34px;
    padding-top: 2em;
    font-weight: bold;
}
.inner-container {
    display: flex;
    padding-top: 1em;
}
.platform {
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
}

@media only screen and (max-width: 600px) {
    .heading {
        padding-top: 0;
        padding-bottom: 1.5em;
    }
    .platform {
        padding: 0;
    }
}
