.wrapperContainer {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    cursor: pointer;
}
.wrapperContainer:hover {
    background-color: #f4f4f4;
}
.wrapperContainer:hover .eventName {
    color: #e20074;
}
.wrapperleftSection {
    display: flex;
    align-self: flex-start;
}
.wrapperMiddleSection {
    font-family: Roboto;
    width: 90%;
    display: grid;
    grid: 100%/42% 22% 22%;
    grid-gap: 4%;
    color: #242241;
}
.wrapperMiddleSection a {
    color: #242241;
}
.wrapperRightSection {
    display: flex;
    justify-content: space-between;
}

.eventDetails {
    display: flex;
    flex-direction: column;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;
}

.arrow {
    transform: rotate(-47deg);
    border: solid #e10074;
    border-width: 0 2px 2px 0;
    margin-bottom: 5px;
    margin-left: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    padding: 6px;
}

.timeIcon {
    display: none;
    width: 1em;
    color: #000000;
}

.calenderIcon {
    width: 42px;
    height: 42px;
    margin: 4px 21px 0 13px;
}

.eventName {
    font-family: Roboto;
    font-size: 18px;
    color: #242241;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}
.location {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}
.location img {
    margin: 0.4em 0.3em 0.3em 0;
    opacity: 1;
}
.eventDesc {
    opacity: 0.5;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (min-width: 319px) and (max-width: 768px) {
    .wrapperContainer {
        padding: 15px 10px;
    }
    .dateMobile {
        display: block;
        opacity: 0.5;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.29;
        color: #000000;
    }
    .wrapperMiddleSection {
        display: flex;
        width: 90%;
        flex-direction: column;
        overflow: hidden;
    }

    .date {
        display: none;
    }

    .eventName {
        font-size: 16px;
    }
    .eventDetails {
        width: 100%;
    }

    .wrapperRightSection {
        width: 90%;
    }
    .location {
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
    }
    .arrow {
        padding: 6px;
        margin-bottom: 0;
    }
    .timeIcon {
        display: flex;
        opacity: 1;
    }
    .eventDesc {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .wrapperMiddleSection{
        grid: 100%/40% 22% 22%;
    }
}

@media screen and (max-width: 500px) {
    .eventDesc {
        display: none;
    }
    .location {
        font-size: 12px;
    }
    .wrapperleftSection {
        align-self: flex-start;
    }
    .calenderIcon {
        width: 36px;
      
       
    }
}
