.cloud {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30em;
    user-select: none;
    outline: none
}

.each-slide {
    background: #ccc;
    display: flex;
    flex-shrink: 0;
}

.container {
    display: flex;
    height: 44em;
}

.card-block {
    display: flex;
    height: 30em;
    flex-direction: column;
    align-items: center;
    user-select: none;
    outline: none
}


.head {
    color: #fff;
    font-family: Muli;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.tuesday {
    width: 16rem;
    height: 10rem;
    animation: floatDown 9s ease-in-out infinite;
    margin-right: 10px;
}


.rebelion {
    width: 16em;
    height: 15em;
    transform: translateY(25px) scale(1.4);
    transition: all 0.4s ease;
    animation: floatWave 5s ease-in-out infinite;
    margin: 0 5rem;
}


.mp {
    width: 12em;
    height: 12em;
    margin-bottom: 7em;
    animation: float 8s ease-in-out infinite;
    transition: all 1s ease;
}


.body {
    color: #fff;
    font-family: Muli;
    font-size: 16px;
    padding: 0 10em;
    text-align: center;
    opacity: 0.8;
    width: 75%;
    margin: auto;
}

.body-prime {
    color: #fff;
    font-family: Muli;
    font-size: 16px;
    padding: 0 14em;
    text-align: center;
    opacity: 0.8;
    width: 75%;
    margin: auto;
}

.text {
    text-align: center;
    padding: 0 2em;
    line-height: 1.1;
    opacity: 0.8;

}

.image-holder {
    display: flex;
    flex-direction: row;
    padding: 0 14em;
    justify-content: center;
    /* margin-top: 1em; */
    align-items: center;
    height: 100%;
    padding-bottom: 1em;

}

.text-head {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 1em;
}

.line {
    width: 2px;
    height: 80%;
    padding-top: 10px;
    margin: 15px;
    background-image: radial-gradient(circle at 60% 83%, #ccc, #fff);
}

.aws {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Muli;
    font-size: 16px;
}

.azure {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Muli;
    font-size: 16px;
}

.aws-image {
    margin: 0;
    width: 160px;
    height: 160px;
}

.azure-image {
    margin: 0;
    width: 160px;
    height: 160px;
}

.event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1.3em;
    justify-content: center;
    height: 20rem;
    overflow: hidden;
    align-items: center;
}

.heading-line {
    width: 5em;
    opacity: 0.6;
    height: 1px;
    background: #fff;
    margin: 0 9px;
}

.allEventsButton {
    width: 15%;
    margin: 20px auto;
    background: #fff;
    border-radius: 20px;
    padding: 0.2em 2em;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #bd206a;
    transition: 0.5s ease;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: Lato;
    text-align: center;
}

.allEvents:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.04);
}

.calender-error {
    font-size: 12px;
    color: #fff;
    font-family: Muli;
}

.no-events {
    border-radius: 5px;
    width: 53em;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-imageholder {
    width: 13em;
    height: 13em;
}

.no-image {
    width: 100%;
    height: 100%;
}

.text-header {
    color: #fff;
    font-family: Muli;
    font-size: 25px;
    margin-top: 0.5em;
}

.sub-header {
    color: #fff;
    font-family: Muli;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 600;
    text-align: center;
    padding-top: 1em;
}

.view-events {
    color: #bd206a;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .text {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .rebelion {
        width: 13rem;
        height: 13rem;
        margin: 0;
        position: absolute;
        bottom: 3.5rem;
        -webkit-animation: none;
        animation: none;
    }

    .slick-list {
        width: 95vw;
    }

    .all-events {
        display: none;
    }

    .text-head {
        padding: 1.5em;
    }

    .head {
        padding: 1.5em;
    }

    .line {
        display: none;
    }

    .event {
        padding-top: 0;
        width: 90%;
        margin: auto;
    }

    .mp {
        /* top: 9%;
        width: 11rem;
        height: 11rem;
        right: 0;
        position: absolute;
        /* margin-right: 3rem; */
        /* margin-bottom: 11rem; */
        /* -webkit-animation: none;
        animation: none; */
        display: none;
    }

    .body {
        display: none;
    }

    .body-prime {
        padding: 0
    }

    .text {
        padding: 0 2em;
        line-height: 1.3;
    }

    .tuesday {
        display: none;
    }

    .aws-image {
        margin: 0;
        width: 5rem;
        height: 5rem;
    }

    .azure-image {
        margin: 0;
        width: 5rem;
        height: 5rem;
    }

    .body {
        padding: 0;
        font-size: 12px;
        line-height: 1.1;
    }

    .image-holder {
        padding: 0em;
    }

    .no-events {
        width: 30em;
    }
}

@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(-20px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }
}

@keyframes floatDown {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(-40px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }
}

@keyframes floatWave {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px) scale(1.4);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(5px) scale(1.4);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px) scale(1.4);
    }
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    .allEventsButton {
        width: 45%;
        font-size: 10px;
    }
}