.slick-slider {
    display: flex;
    height: 28rem;
    position: relative;
}

.slick-list {
    width: 90vw;
}

.slick-track {
    height: 100%;
    display: flex;
}

.slick-dots {
    position: absolute;
    display: flex !important;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
    list-style: none;
    z-index: 9999;
}

.carousel-dots {
    padding: 6px;
    margin: 10px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.slick-active .carousel-dots {
    background: #ec2b88;
    opacity: 0.9;
}

.carousel-dots:hover {
    background: #ec2b88;
}

.slick-prev,
.slick-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .slick-list {
        width: 95vw;
    }

    .slick-dots {
        bottom: -90px;
    }

    .slick-arrow img {
        height: 20px !important;
        width: 1rem;
    }
}
