.eventDetailContainer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
}
.LeftEventDescription {
    width: 70%;
}
.eventCardWrap {
    width: 100%;
}
.eventName {
    margin: 35px 0 24px 0;
    font-family: Muli;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #000000;
    text-transform: capitalize;
    
}

.rightEventMap {
    width: 30%;
    padding: 5.4em 0 0 5vw;
    font-family: Muli;
}
.eventDetail {
    background: #f9f9f9;
    display: flex;
    padding: 20px 26px;
    font-family: Muli;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.saveCalenderBtn {
    border-radius: 2em;
    color: #fff;
    background: #f10f85;
    min-width: 180px;
    height: 2.5em;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
}
.saveCalenderBtn:hover {
    background: #b10c61;
}
.eventSummary {
    display: flex;
    flex-direction: column;
}
.eventLocation {
    font-family: Muli;
    font-size: 16px;
    color: #4a4e57;
}
.eventTimeZone {
    opacity: 0.5;
    font-family: Muli;
    font-size: 12px;
    color: #4a4e57;
}
.eventWrap {
    display: flex;
    font-family: Muli;
    justify-content: space-between;
    padding: 20px 26px 20px 0;
}
.eventTime {
    font-size: 0.8em;
    opacity: 0.6;
}
.eventAvatarWrap {
    width: 100%;
    height: 100%;
   
}
.eventDescription {
    opacity: 0.8;
    font-family: Roboto;
}
.eventAvatarWrapContainer {
    width: 100%;
    height: 22em;
}
.Image {
    width: 16px;
    height: 16px;
    margin-bottom: 0;
    margin-right: 12px;

}
.locationWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.descriptionHeader {
    font-family: Muli;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    margin: 1.56em 0px 1.6em;
    text-transform: capitalize;
}
.eventCarousel {
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.3);
    border-radius: 0.4em;
}
.moreEvent {
    font-size: 1.1em;
    margin: 0 0 1em 0;
    opacity: 0.9;
}
.mapContainer {
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.3);
}
@media screen and (min-width: 319px) and (max-width: 768px) {
    .eventDetailContainer {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }
    .LeftEventDescription {
        width: 100%;
        padding: 0 0.8em;
    }
    .rightEventMap {
        width: 100%;
        padding: 0 0.8em;
    }
    .eventLeftDetail {
        padding-bottom: 1em;
    }
    .eventDetail {
        flex-direction: column;
        align-items: flex-start;
    }
    .eventWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .eventAvatarWrapContainer{
       height: 15em;
    }
}

@media screen and (max-width: 500px){
    .eventName{
        font-size: 22px;
    }
    .descriptionHeader{
        font-size: 18px;
    }
    .locationWrapper{
        align-items: flex-start;
    }
    .Image{
        margin-top: 5px;
    }
}
@media screen and (max-width: 1140px){
    .rightEventMap{
         padding: 8em 0 0 5vw;
    }
}