.carousel img {
    width: 0.9em !important;
}
.carousel .slide img {
    width: 0.9em !important;
    height: 1em !important;
}
.carousel.carousel-slider .control-arrow {
    height: 6vh !important;
    top: 48% !important;
    opacity: 1 !important;
    padding: 16px !important;
}
.carousel.carousel-slider > .control-next::before {
    content: none !important;
}
.carousel.carousel-slider > .control-prev::before {
    content: none !important;
}
.carousel.carousel-slider .control-arrow:hover{
    background: none !important;
}
.carousel.carousel-slider{
    border-radius: 0.4em;
}
.carousel .control-dots .dot.selected{
    outline: none;

}