.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 1em 18em 1em;
    font-family: Muli;
    background-image: url("../../../images/about-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
    z-index: 10;
    transform: translateY(-5%);
}
.line-bar {
    height: 2em;
    width: 0.4em;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.6;
}
.text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateX(-9%);
}
.heading {
    color: #fff;
    font-size: 42px;
    padding-bottom: 1em;
    line-height: 50px;
    margin-bottom: 10px;
    font-family: tele-grotesk;
    letter-spacing: 1px;
}
.open {
    background: #fff;
    padding: 0.45em 0.6em;
    font-family: tele-grotesk;
    font-size: 23px;
    color: #e92a87;
    position: relative;
}
.dummy {
    position: absolute;
    left: -6px;
    height: 75%;
    background: rgba(255, 255, 255, 0.7);
    width: 10px;
}
.at {
    font-size: 14px;
    padding-left: 0.5em;
    color: #fff;
}
.blogs-wrapper {
    padding: 5em 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-sec {
    padding: 0.3em 0.7em;
    font-family: tele-grotesk;
    color: #fff;
    font-size: 39px;
    transform: translateX(15%);
}

.para {
    color: #fff;
    font-size: 12px;
    margin-top: 2rem;
}
.all-blogs {
    cursor: pointer;
    background: #fff;
    color: #bd206a;
    font-weight: bold;
    font-size: 12px;
    padding: 1em 2em;
    border-radius: 30px;
    margin: 2rem;
    transition: all 0.5s ease;
}
.all-blogs:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.04);
}
.uncarrier {
    background: #000;
    padding: 0 0.5em;
}
.uncarrier-wrapper {
    width: 20em;
    transition: all 0.6s;
}
.uncarrier-wrapper:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        font-family: Muli;
        background-image: url("../../../images/about-us.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .heading {
        padding-top: 2em;
    }
    .para {
        font-size: 18px;
        text-align: center;
        padding: 0 3em;
    }
    .all-blogs {
        background: #fff;
        color: #bd206a;
        font-weight: bold;
        font-size: 14px;
        padding: 0.7em 2em;
        border-radius: 30px;
        margin-bottom: 10em;
    }
    .blogs-wrapper {
        padding-top: 2em;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 1440px) {
    .container {
        /* margin-top: 33em; */
    }
}
