.container {
    display: flex;
    flex-wrap: wrap;
}
.img {
    padding: 1em;
    border-radius: 5px;
    background-image: linear-gradient(277deg, #e7f2fc, #ffffff);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}
.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block-wrap {
    width: 50%;
    padding: 2em 2em 2em 4em;
    flex-wrap: wrap;
    transition: all 0.2s ease;
}

.block-wrap:hover {
    transform: scale(1.02);
}

.platform-image {
    margin: 0;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px;
    padding: 1em;
}
.head {
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin-bottom: 1rem;
}

.desc {
    padding-top: 1em;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}

.details {
    font-family: Muli;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .block-wrap {
        width: 100%;
        padding: 1em;
        flex-wrap: wrap;
    }
    .platform-image {
        min-width: 80px;
        min-height: 80px;
        max-height: 80px;
    }
    .head {
        line-height: 1.1;
        margin-bottom: 0;
    }

    .img {
        padding: 0;
    }
    .desc {
        padding-top: 1em;
        color: #fff;
        font-size: 12px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .block-wrap {
        width: 75%;
        padding: 1em;
        flex-wrap: wrap;
    }
    .desc {
        padding-top: 1em;
        color: #fff;
        font-size: 12px;
    }
}
