.container {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
}
.container .title {
    color: #ec2b88;
    white-space: nowrap;
}
.container .date {
    color: #65696d;
}
.container .author {
    color: #000;
    width: 70%;
}
.container .description {
    color: #000;
}
.container:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}
.left {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0em 4em 0em 0em;
    box-sizing: border-box;
    border-right: 1px solid lightgray;
}
.right {
    display: flex;
    width: 30%;
    /* padding: 0em 0em 0em 2em; */
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
.title {
    color: #ec2b88;
    font-size: 20px;
    cursor: pointer;
}
.author {
    /* padding-bottom: 5px; */
}
.description {
    font-size: 14px;
    margin-top: 10px;
}
.date {
    color: #65696d;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 21rem;
        background: #fff;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        padding: 1.3rem;
    }
    .left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid lightgray;
        border-right: none;
    }
    .right {
        display: flex;
        width: 100%;
        /* padding: 0em 0em 0em 2em; */
        padding-top: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .description {
        padding: 1em;
        text-align: left;
        line-height: 1.3;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        white-space: nowrap;
    }
    .title {
        color: #ec2b88;
        font-size: 20px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .date {
        font-size: 14px;
        line-height: 1.1;
    }
}
