html {
    font-family: Muli;
}
body {
    overflow: hidden;
}
a {
    text-decoration: none;
}
.pointer {
    cursor: pointer;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(21, 43, 66, 0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}
.Modal {
    overflow: hidden;
    max-height: 20em;
    scroll-behavior: smooth;
}
.close {
    overflow: auto;
}
@font-face {
    font-family: tele-grotesk;
    src: url(../assets/Tele-GroteskUlt_43762.ttf);
}
