.modal-view {
    background: #fff;
    top: 0;
    width: 28em;
    border-radius: 10px;
    padding: 3em 2em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon {
    width: 1em;
    transition: 0.3s;
}
.Details {
    font-family: Muli;
    font-weight: bold;
    font-size: 25px;
    color: #e20074;
    border-bottom: 1px solid rgba(116, 116, 116, 0.3);
    padding-bottom: 1em;
    position: relative;
    line-height: 30px;
}
.cross {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.clock-wrap {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    align-items: center;
}
.Image {
    width: 1.2rem;
    margin: 0;
}
.date-time {
 margin-left: 1.3rem;
}
.Date {
color: #52789c;
font-family: Muli;
font-weight: bold;
/* margin-left: 0.5em; */
}
.Time {
    color: #52789c;
    font-family: Muli;
    font-size: 12px;
    /* margin-left: 0.8em; */
}
.Address {
margin-left: 1.3rem;
}
.address-wrap {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    color: #52789c;
    font-family: Muli;
   font-weight: 600;
   font-size: 14px;
}
.about-wrap {
 
    display: flex;
    flex-direction: row;
    color: #52789c;
    font-family: Muli;
    align-items: center;
    line-height: 1.1;
    padding-top: 1em;
}
.about {
    margin-left: 1.3rem;
    font-size: 14px;
    font-weight: 600;
    max-width: 90%;
    line-height: 16px;
}
.Img-wrap {
    /* width:  2em; */
}
.url {
    padding-top: 1em;
    padding-left: 2.4rem;
}
.url a{
    color: #e20074;
    font-family: Muli;
    transition: all 0.2s ease;
    font-size: 13px;
}
.url a:hover {
    text-decoration: underline;
}
.calendar-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #52789c;
    font-family: Muli;
    padding: 1em 0;
    padding-top: 1em;
}
.created {
    font-size: 12px;
    margin-left: 1.3rem;
    line-height: 1.1;
}
.icon:hover {
    transform: rotate(-90deg);
}

@media only screen and (max-width: 600px) {
  .modal-view {
      width: 100%;
  }
  .Details {
      text-align: center;
  }
}