.modal-view {
    background: #fff;
    top: 0;
    width: 36em;
    border-radius: 10px;
    padding: 3em 2em;
    overflow: auto;
    display: flex;
    font-size: 14px;
    font-family: Muli;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4b6f90;
}
.icon {
    width: 1.3em;
    transition: 0.3s;
}
.Details {
    font-family: Muli;
    font-weight: bold;
    font-size: 25px;
    color: #e20074;
    border-bottom: 1px solid rgba(21, 43, 66, 0.7);
    padding-bottom: 0.7em;
    position: relative;
    line-height: 30px;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 4px;
    padding: 1em;
    border: 1px solid #4b6f90;
}
.cross {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.btn-wrap {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid #4b6f90;
    border-radius: 4px;
}
.option {
    width: 50%;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    border-top-right-radius: 4px solid #4b6f90;
    border-bottom-right-radius: 4px solid #4b6f90;
    border-radius: 0 4px 4px 0;
    height: 101%;
}
.optionf {
    width: 50%;
    cursor: pointer;
    background: #ccc;
    text-align: center;
 border-radius: 4px 0 0 4px;
 height: 101%;
    transition: 0.3s ease;
    border-right: 1px solid #4b6f90;
}

.clock-wrap {
    display: flex;
    flex-direction: row;
    padding: 2em 0;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
}
.email {
    width: 100%;
    border : 1px solid #4b6f90;
    border-radius: 4px;
}
.forms {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 1em;
}
.feedback {
    border-radius: 20px;
    background: #e20074;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 0.4em 2em;
    box-shadow: 0px 1px 1px 0 #ccc;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: 0px 1px 1px 2px;
    border-radius: 19px;
}
.rate {
    padding-bottom: 10px;
}
.improve-wrap {
    padding : 1em 0;
}
.feedback:hover {
 transform: scale(1.01);
}
.text {
    padding-bottom: 10px;
}
.exp {
    padding: 1em 0;
}
.thanks-img {
    width: 100%;
}
.thanks-close {
    width: 12em;
    border-radius: 20px;
    background: #e20074;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 0.4em 2em;
    box-shadow: 0px 1px 1px 0 #ccc;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: 0px 1px 1px 2px;
    border-radius: 19px;
}
.thanks-close:hover {
    transform: scale(1.01);
}
.loader-view {
    background: #fff;
    top: 0;
    width: 36em;
    min-height: 35em;
    border-radius: 10px;
    padding: 3em 2em;
    overflow: auto;
    display: flex;
    font-size: 14px;
    font-family: Muli;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form {
    width: 100%
}
@media only screen and (max-width: 600px) {
  .modal-view {
      width: 100%;
  }
  .Details {
      text-align: center;
  }
}