.container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Muli;
    transition: all 0.9s ease;
    position: relative;
    z-index: 9;
}

.header {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 14;
    transition: all 0.3s ease;
}
.eventsDraw {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #ccc;
    color: #4a4a4a;
}

.burger {
    display: none;
}

.img-container {
    display: flex;
    align-items: center;
}

.mobile-view {
    display: none;
}

img {
    width: 3em;
    margin: 0;
}

.header-right-section {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    user-select: none;
}

.nav-item {
    padding: 1.2rem 1.7rem;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    font-size: 12px;
    font-weight: bold;
}

.feedBackWrapper {
    border: solid 1px;
    padding: 0px 10px;
    border-radius: 15px;
}

.linkStyle {
    color: #fff;
}

.location {
    width: 15px;
    height: 15px;
}

.arrow {
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 1px 1px 0;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: 0.3s;
    display: inline-block;
    padding: 3px;
}

.nav-item.active .arrow {
    transform: rotate(224deg) translateY(-2px) translateX(-4px);
}

.dropdown-content {
    position: absolute;
    width: 100%;
    height: 12em;
    top: 0;
    transition: 0.3s;
    display: none;
}

.nav-item:hover .knowledge {
    transform: translateY(200px);
}

.nav-bar {
    height: 15.5rem;
    padding-top: 60px;
    position: absolute;
    top: 0px;
    background-color: rgba(251, 251, 251, 0.95);
    width: 100%;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100%);
}

.drawer {
    display: none;
}

.HeaderColor {
    background-color: #446283;
}

.dummy-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(251, 251, 251, 0.95);
    opacity: 0.7;
    z-index: 10;
}

.header true {
    background-color: red;
}

.nav-element {
    margin: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    min-width: 100px;
}

.nav-element-icon {
    margin-bottom: 10px;
    height: 2rem;
    width: 2rem;
    transition: all 0.3s ease;
}

.nav-element-text {
    margin: 0;
    text-transform: uppercase;
    font-family: Muli;
    font-size: 12px;
    color: #446383;
}

.burger-menu {
    display: none;
}

.container.active-nav .nav-item {
    color: #4b6f90;
}

.container.active-nav .arrow {
    border-color: #4b6f90;
}

.nav-bar.active .nav-element {
    opacity: 1;
}

.eventListingHeading {
    background-color: #446383;
}

.platForm:hover + .arrow {
    border-color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .container {
        padding: 1em;
        justify-content: flex-start;
    }

    .drawer-wrap {
        display: flex;
        width: 100%;
        padding: 2em;
        color: #4a4a4a;
        font-family: Muli;
        flex-direction: column;
        font-size: 18px;
    }

    .burger-menu {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .cross {
        width: 20px;
        height: 20px;
        transition: 0.3s ease;
    }

    .cross:hover {
        transform: rotate(-90deg);
    }

    .help-draw {
        padding: 3em 0 1em 0;
        border-bottom: 1px solid #ccc;
        transition: 0.3s;
    }

    .help-draw:hover {
        scale: (1.1);
    }

    .platform-draw {
        padding: 1em 0 1em 0;
        border-bottom: 1px solid #ccc;
    }

    .about-us {
        padding: 1em 0 1em 0;
    }

    .drawer {
        display: flex;
        width: 80%;
        z-index: 8;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: #fff;
        transition: 0.3s ease-in;
        transform: translateX(-100%);
    }

    .arrow-down {
        transform: rotate(45deg);
        position: absolute;
        right: 45px;
        display: block;
        border: solid black;
        border-width: 0 1px 1px 0;
        margin-bottom: 5px;
        margin-left: 5px;
        transition: 0.3s;
        display: inline-block;
        padding: 4px;
    }

    .nav-item {
        display: none;
    }

    .mobile-view {
        display: flex;
        background: #fff;
        height: 100%;
        width: 12em;
    }
}
@media only screen and (max-width: 768px) {
    .nav-item {
        padding: 1.2rem 1.4rem;
    }
   
}
@media only screen  and (min-width: 600px) and (max-width:840px) {
    .nav-item {
        padding: 1.2rem 1rem;
    }
   
}