.container {
    width: 25%;
    height: 300px;
    border-radius: 10px;
    font-family: Muli;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    background: #ccc;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.3);
    background-color: #ffffff;
    color: #52789c;
    margin: 1rem 30px;
    transition: 0.4s ease;
    cursor: pointer;
    opacity: 0.9;
    background-color: #f9f9f9;
    margin-left: 0;
}
.detailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 0 0;
    line-height: 1.1;
    background: #fff;
    position: relative;
    z-index: 1;
    color: #52789c;
    margin: 0;
}

.container:hover .line {
    height: 0px;
    width: 1px;
    border-bottom: 1px solid #52789c;
    -webkit-animation: increase 0.5s;
    -moz-animation: increase 0.5s;
    -o-animation: increase 0.5s;
    animation: increase 0.5s;
    animation-fill-mode: forwards;
}

.cardTopSection {
    height: 10em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.cardTopSectionForCarousel {
    height: 8em;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.cardBottomSection {
    height: 30%;
    padding: 10px 20px;
}

.eventName {
    display: block;
    display: -webkit-box;
    font-size: 1em;
    font-weight: bold;
    color: #e20074;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: normal;
    text-transform: capitalize;
    letter-spacing: 0.48px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2;
    max-height: 2.4em;
    word-wrap: break-word;
    text-align: left;
}

.timings {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.time {
    font-size: 13px;
    color: #4a4e57;
    text-align: left;
}
.detailAccesTime {
    padding-right: 0.3em;
    margin-bottom: 0.4em;
}

.location {
    width: 14px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 0;
}

.eventDate {
    position: absolute;
    bottom: -1px;
    left: 20px;
    min-width: 30px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    padding: 6px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.71px;
    color: #e20074;
    transform: none;
}

.eventMonth {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.54px;
}

@keyframes increase {
    100% {
        width: 100%;
    }
}

.date {
    font-size: 24px;
}

.accessTime {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-bottom: 0;
    display: flex;
}

.line {
    width: 100%;
    height: 2px;
    background: #52789c;
    margin-top: 1em;
}

.place {
    font-size: 12px;
    padding-top: 0.5em;
    min-height: 30px;
    word-break: break-all;
    white-space: normal;
}

.details {
    font-size: 14px;
    padding-top: 0.5em;
    font-weight: bold;
    color: #52789c;
}

.container:hover .date {
    color: #e20074;
}

.container:hover .details {
    color: #e20074;
}

@media only screen and (max-width: 767.98px) {
    .container {
        width: 100%;
        white-space: nowrap;
        min-height: 7em;
        margin: 14px 0;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0 2px 20px 0 rgba(116, 116, 116, 0.3);
        margin-bottom: 0px;
    }

    .line {
        margin-top: 2px;
    }
    .homePageEventCards {
        width: 25%;
    }

    .details {
        padding-top: 0;
        margin-top: 4px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 45%;
    }
    .homePageEventCards {
        width: 25%;
    }
    .detailContainer {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 30%;
        margin-right: 38px;
    }
    .homePageEventCards {
        width: 25%;
    }

    .container:nth-child(3) {
        margin-right: 0;
    }
    .detailContainer {
        width: 100% !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
    .container {
        width: 22%;
    }

    .container:nth-child(4) {
        margin-right: 0;
    }
    .homePageEventCards {
        width: 25%;
    }
    .detailContainer {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2000px) {
    .container {
        width: 22%;
    }

    .container:nth-child(5) {
        margin-right: 0;
    }
    .homePageEventCards {
        width: 25%;
    }
    .detailContainer {
        width: 100%;
    }
}

@media screen and (min-width: 1960px) {
    .container {
        width: 17%;
    }
    .homePageEventCards {
        width: 25%;
    }
    .detailContainer {
        width: 100%;
    }
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    .homePageEventCards {
        width: 100%;
    }
    .detailContainer {
        width: 100%;
        margin: 0;
    }
    .cardTopSectionForCarousel {
        height: 9em;
    }
    .time {
        white-space: normal;
    }
    .cardTopSection {
        height: 11em;
    }
}
