.container {
    padding: 2em;
}
.block-wrap {
    width: 50%;
    padding: 2em 3em;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s ease;
    cursor: pointer;
}
.block-wrap > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.block-wrap:hover {
    transform: scale(1.05);
}

.head {
    font-weight: bold;
    color: #35506d;
    font-size: 20px;
}
.support-image {
    margin: 0;
    width: 100%;
}
.img {
    width: 5em;
    /* height: 4em; */
    padding-right: 1em;
    display: flex;
    justify-content: center;
}
.desc {
    padding-top: 1em;
    font-size: 16px;
    color: #4b6f90;
    line-height: 1.4;
}
.border {
    background: #ccc;
    height: 8em;
    width: 2px;
    opacity: 0.7;
}
.details {
    display: flex;
    font-family: Muli;
    flex-direction: column;
    line-height: 1.1;
    padding: 1.5em;
    width: 75%;
}

@media only screen and (max-width: 600px) {
    .block-wrap {
        padding: 1em;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .block-wrap > a {
        flex-direction: column;
        justify-content: flex-start;
        align-items: self-end;
    }
    .details {
        width: 100%;
    }
    .head {
        display: inline-flex;
        width: 100%;
        padding-top: 1em;
    }
    .img {
        width: 100%;
        /* height: 4em; */
        padding-right: 1em;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .details {
        padding: 0;
    }
    .border {
        display: none;
    }
    .desc {
        padding-top: 1em;
        font-size: 12px;
    }
}
