.caraousal-container {
  width: 100%;
  background-image: url("../../images/carousel-bg@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 49em;
  align-items: center;
  padding: 0.5em;
  position: relative;
  z-index: 0;
  transition: all 0.8s ease;
}

.wrapper {
  background-color: #f5f4f4;
  overflow-x: hidden;
}

.burger-menu {
  display: none;
}

.scroll-dots {
  position: fixed;
  display: flex;
  transition: all 0.6s;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 2em;
  z-index: 12;
  transform: translateY(-50%);
}

.dot-value {
  background: #888;
  opacity: 0.5;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  margin-bottom: 0.8em;
  cursor: pointer;
  border: 1px solid #fff;
  position: relative;
}

.dots-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 25px;
  right: 1.5em;
  top: -0.5em;
  padding: 0 1.2em;
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
  white-space: nowrap;
  font-size: 13px;
  color: #fff;
  background-color: #3c3f45;
  font-family: Muli;
  transition: opacity 0.2s;
  user-select: none;
}

.active-dot {
  background: #e20074;
  opacity: 1;
  border: 1px solid #fff;
}

.tooltip-active {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(21, 43, 66, 0.5);
  /* Black background with opacity */
  z-index: 0;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.heading {
  color: #fff;
  font-family: Muli;
  font-size: 62px;
  padding: 2em 0 0.7em 0;
}

.secHeading {
  color: #4b6f90;
  font-family: Muli;
  font-size: 24px;
  text-align: center;
  padding: 1em;
  display: none;
}

.help-section {
  height: 30em;
  background-image: url("../../images/features-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.help-head {
  color: #4b6f90;
  font-family: Muli;
  font-size: 34px;
  font-weight: 600;
}

/* media Queries */
/* iphone 6, 6s, 7, 8 */
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 1.5em;
    padding: 3em 2em;
  }

  .cloud1 {
    display: none;
  }

  .burger-menu {
    display: block;
    background: transparent;
  }

  .cloud2 {
    display: none;
  }

  .cloud3 {
    display: none;
  }

  .bg {
    position: absolute;
    top: 37em;
  }

  .caraousal-container {
    min-height: 49em;
  }

  .Mobile {
    width: 3em;
    height: 3em;
  }

  .body {
    padding: 0;
    font-size: 12px;
    line-height: 1.1;
  }

  .slide {
    display: none;
  }

  .scroll-dots {
    display: none;
  }
}

.cloud2 {
  position: absolute;
  bottom: 25%;
  left: 25%;
  width: 11rem;
  z-index: 0;
  animation: floatRight 150s ease-in-out infinite;
}

.cloud3 {
  position: absolute;
  top: 40%;
  right: 25%;
  width: 14rem;
  z-index: 0;
  animation: floatLeft 200s ease-in-out infinite;
}

.cloud1 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 18rem;
  z-index: 0;
  animation: floatEven 500s ease-in-out infinite;
}

@keyframes floatRight {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(-25vw);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatex(70vw);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(-25vw);
  }
}

@keyframes floatLeft {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(25vw);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatex(-70vw);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(25vw);
  }
}

@keyframes floatEven {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(50vw);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatex(-100vw);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatex(50vw);
  }
}
