.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f5f4f4;
}
.tmobile {
    display: flex;
flex-direction: row;

}
.heading {
    padding: 0 10em;
    text-align: center;
    font-family: Muli;
}
.privacy {
    color: #ed0295;
    font-weight: bold;
    font-family: Muli;
}
.tmobile-icon {
   margin :0;
    width:7em;
    padding-right: 1em;
}
.copy {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.6;
    font-family: Muli;

}
@media only screen and (max-width: 600px) {
    .copy {
        margin-bottom: 1em;
    }
    .container {
        padding: 0;
    }
    .heading {
        padding: 0 2em;
        text-align: center;
    }
    }