.eventListContainer {
    width: 90%;
    margin: 80px auto 30px auto;
    /* transform: translateY(5rem); */
}

.heading {
    font-family: Muli;
    font-size: 24px;
    font-weight: 300;
    color: #242241;
    margin: 27px 0;
}

.eventWrapperHeading {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4e57;
    padding: 0 0 0 20px;
}

.eventDetails {
    width: 42%;
}

.eventDateAndTime {
    width: 17.9%;
}

.eventLocation {
    width: 29.5%;
}

.featuredEventsTiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.featuredEventsTilesNoResults{
    margin-right: 0;
}

.searchbox {
    width: 6em;
    height: 34px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    outline: none;
    transition: width 0.4s ease;

    cursor: pointer;
}
.searchCustomStyle {
    width: 20em;
    border-bottom: 2px solid #e20074;
}
input {
    outline: none;
    width: 100%;
    padding: 0 6px;
    font-family: Muli;
    font-size: 1em;
}

::placeholder {
    color: #435b7c;
    font-size: 16px;
  
}
input[type="reset"] {
    display: none;
}

.inputClose {
    background-image: url("../../images/cancel\ \(2\).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 0.92em;
    opacity: 0.8;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 0;
}
input[type="search"]::placeholder {
    font-size: 1.1em;
}
input[type="search"],
select {
    font-family: Muli;
    font-weight: normal;
    color: #242241;
    max-width: 95%;
    padding: 0;
    border: 0;
    opacity: 0.8;
    padding-left: 0.4em;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noResults {
   
    font-size: 23px;
    width: 100%;
    /* margin-right: 2em; */
    padding: 20px;
    font-family: Muli;
    height: 330px;
    box-shadow: 0 2px 20px 0 rgba(116, 116, 116, 0.3);
}
.noResults div {
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 0.3em;
}

.noResults img {
    width: 100%;
    height: 54%;
}

.searchIcon {
    height: 20px;
    width: 20px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .featuredEventsTiles {
        margin-right: -2em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .featuredEventsTiles {
        margin-right: -1em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
    .featuredEventsTiles {
        margin-right: -3em;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2000px) {
    .featuredEventsTiles {
        margin-right: -4em;
    }
}

@media screen and (min-width: 1960px) {
    .featuredEventsTiles {
        margin-right: -9em;
    }
}
@media screen and (min-width: 319px) and (max-width: 768px) {
    .eventDetails {
        width: 45%;
        font-size: 12px;
    }
    .eventDateAndTime {
        font-size: 12px;
        width: 50%;
        margin-right: 5px;
        text-align: right;
    }
    .eventLocation {
        width: 43%;
        font-size: 12px;
        text-align: center;
    }
    .noResults {
        font-size: 16px;
    }
    .heading {
        font-size: 18px;
    }
    .eventWrapperHeading {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .searchCustomStyle {
        width: 10em;
    }
    .inputClose{
        width: 0.9em;
    }
}
